.table {
    padding: 10px;
    width: 90%;

    background-color: rgb(32, 32, 32);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: black;

    border-radius: 10px;
}

.generic-table {
    background-color: azure;
    max-height: 300px;
    overflow: auto;
    border-radius: 5px;
}

.generic-table table {
    width: 100%;
}

.table td {
    border: 1px solid;
}


.navigation {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.navigation p {
    color: white;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.filters p {
    color: white;
}