body {
  background-image: white;
  margin: 30px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.App ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.App li{
  width: 80px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  text-decoration: none !important;
  
}